<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Signalement Urbain Guinée{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- En-tête du site -->
    <header>
        <h1>Signalement Urbain Guinée</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/signalements/">A propos</a></li>
                <li><a href="/connexion/">Connexion</a></li>

            </ul>
        </nav>
    </header>

    <!-- Contenu principal -->
    <main>
        {% block content %}
        <!-- Le contenu spécifique des pages s'affiche ici -->
        {% endblock %}
    </main>

    <!-- Pied de page -->
    <footer>
        <p>&copy; 2025 - Projet Hackathon Guinée</p>
    </footer>

</body>
</html>
