<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/formulaire.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Connexion</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Se connecter</button>
        </form>
        <p>Pas encore inscrit ? <a href="{% url 'inscription' %}">Créer un compte</a></p>
        <p><a href="{% url 'accueil_public' %}" class="btn-retour">Retour à l'accueil</a></p> <!-- Bouton retour -->
    </div>
</body>
</html>
